---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Rock Hero – Official Website";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="billboard">
		<h2>Order Anything</h2>
		<h3>
			Your favourite feasts and products, delivered straight to your door
		</h3>
		<div class="appDownloads">
			<h4>Download the Rock Hero App</h4>
			<ul>
				<li><a href="#">App Store</a></li>
				<li><a href="#">Google Play</a></li>
			</ul>
		</div>
	</div>
	<div class="homeSection">
		<h3>Your favourite restaurants</h3>
		<p>Bacon ipsum dolor spare ribs boudin pastrami, jowl tenderloin fatback jerky kielbasa pork filet mignon pancetta frankfurter.</p>
	</div>
	<div class="homeSection">
		<h3>Never miss a recipe</h3>
		<p>Jerky meatloaf sirloin drumstick, pancetta bacon short ribs capicola cow tenderloin.</p>
	</div>
	<div class="homeSection">
		<h3>Exclusive deals</h3>
		<p>Ham prosciutto pancetta, brisket spare ribs frankfurter salami bresaola kielbasa chuck short ribs pork chop tenderloin.</p>
	</div>
	<div class="homeSection">
		<h3>Not happy? Free returns</h3>
		<p>Ham prosciutto pancetta, brisket spare ribs frankfurter salami bresaola kielbasa chuck short ribs pork chop tenderloin.</p>
	</div>
</BaseLayout>
