---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Rock Hero – Official Website";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Order anything</h2>
	<h3>Your favourite feasts and products, delivered straight to your door</h3>
	<div class="appDownloads">
		<h4>Download the Rock Hero App</h4>
		<ul>
			<li><a href="#">App Store</a></li>
			<li><a href="#">Google Play</a></li>
		</ul>
	</div>
</BaseLayout>
