---
import Social from './Social.astro';
---
<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #7B5ADF;
      text-decoration: none;
    }

    footer {
        margin-top: 2rem;
        padding: 40px 0;
    }

    .socialNetwork {
      display: flex;
        gap: 1rem;
    }

    .copyright {
      padding: 1em 0;
      margin-top: 1em;
    }
  </style>
  
<footer>
  <div class="socialNetwork">
    <Social platform="facebook" username="rockheroltd" />
    <Social platform="instagram" username="rockheroltd" />
  </div>
  <div class="copyright">
    <p>© Copyright © 2024 Rock Hero . All rights reserved.</p>
  </div>
</footer>