---
---
<div class="navLinks">
    <a href="/">Home</a>
    <a href="/">Partner with Us</a>
    <a href="/">Be a Hero</a>
    <a href="/">Login</a>

    <!-- <a href="/about">About</a> -->
    <!-- <a href="/blog">Blog</a> -->
</div>